{% extends 'base.html' %}

{% block title %}Add Bank Account{% endblock title %}

{% block content %}
<div class="container">
    <h1>Add Bank Account</h1>
    <form id="bank-account-form" class="row g-3" action="{% url 'add_bank_account' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="bank_name">Bank Name:</label>
            <input type="text" class="form-control" id="bank_name" name="bank_name">
        </div>
        <div class="form-group">
            <label for="opening_balance">Opening Balance:</label>
            <input type="number" step="0.01" min="0" class="form-control" id="opening_balance" name="opening_balance">
        </div>
        <button type="submit" class="btn btn-primary">Add Account</button>
    </form>
</div>
{% endblock content %}
