{% extends 'base.html' %}

{% block title %}Bank Accounts{% endblock %}

{% block content %}
<h1 class="mb-4">Bank Accounts</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Bank Name</th>
            <th>Opening Balance</th>
            <th>Created On</th>
            <th>Current Balance</th>
            <th>Updated On</th>
        </tr>
    </thead>
    <tbody>
        {% for bank in banks %}
        <tr>
            <td><a href="{% url 'view_transaction' %}?bank_name={{ bank.bank_name }}">{{ bank.bank_name }}</a></td>
            <td>{{ bank.opening_balance }}</td>
            <td>{{ bank.created_on|date:"d/F/Y" }}</td>
            <td>{{ bank.current_balance }}</td>
            <td>{{ bank.updated_on|date:"d/F/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
